[submodule "HappinessHack"]
	path = HappinessHack
	url = https://github.com/TNVAN/hackathon-2019.git
[submodule "SmartCityHack"]
	path = SmartCityHack
	url = https://github.com/TNVAN/hackathon-2018.git
